.card-game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  ;
  .card {
    width: 100px; /* Reduced width */
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;

    .front,
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.5s, box-shadow 0.3s;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .front {
      transform: rotateY(0deg);
      background-color: #333;
      background-size: cover;
      background-position: center;
      color: #fff;
      font-size: 18px; /* Adjusted font size */
      font-weight: bold;
    }

    .back {
      transform: rotateY(180deg);
      background-size: cover;
      background-position: center;
    }

    &.flipped .front {
      transform: rotateY(180deg);
    }

    &.flipped .back {
      transform: rotateY(360deg);
    }

    &.matched {
      visibility: hidden;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .info-block {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f1f1f1;
    text-align: center;

    p {
      margin: 0;
      font-size: 16px;
      color: #333;
    }
  }

  .counters{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .total-moves {
    background-color: #8e44ad; /* Purple background color */
    color: #fff; /* White text color */
  }

  .successful-matches {
    background-color: #27ae60; /* Green background color */
    color: #fff; /* White text color */
  }

  .rounds {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
  }
}
